:root {
  --magenta-color: #E6007D;
  --yellow-color: #FFED00;
  --black-color: #1D1D1B;
  --red-color: red;
}


body {
  overflow: hidden;
  color: var(--black-color);
}


.video-container,
video {
  width: 100%;
}

.hidden {
  display: none !important;
}

@keyframes slide-down {
    from {
      top: -2000px;
      bottom: 2000px;
    }
    to {}
}

.discounts-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.discounts-container > * {
  flex: 1 100%;
  padding: 1ex;
}

.discounts {
    position: relative;
}

.discounts_headline {
  height: 10%;
}

.discounts_picture {
  flex: 1 auto;

  text-align: center;

  width: 60%;
  height: 65%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.discounts_price {
  flex: 1 auto;

  width: 40%;
  height: 65%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.message-box {
  height: 25%;
}

/* @media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
} */



.discounts-container {
  animation-name: slide-down;
  animation-timing-function: ease-out;
  animation-duration: 0.4s;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
}

.discounts-container {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 30px;
  right: 30px;
  z-index: 10;

  background: #fff;
  border-radius: 20px;

  padding: 50px;

  box-shadow: 4px 8px 16px rgba(0, 0, 0, .5);
}

.discount-img-box {
  width: 500px;
  height: 500px;
}

.discount-img-box > img{
  max-width: 500px;
  max-height: 500px;
}




.price-box {
  white-space: nowrap;
}

.regular-price-container {
  text-align: right;
}

.regular-price {
  position: relative;
  display: inline-block;

  font-size: 5ex;

  padding: 0 0.8ex;

  background-color: black;
  color: white;
}

.promo-price {
  font-size: 12ex;

  padding: 0 0.3ex;

  font-weight: bold;
  background-color: var(--yellow-color);
}

.promo-price > .cents,
.regular-price > .cents {
  font-size: 60%;
  vertical-align: super;
  margin-left: -10%;
}

.line {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  width: 97%;
  height: 2px;
  background-color: red;
  -webkit-transform: rotate(-30deg); /* Safari and Chrome */
      -ms-transform: rotate(-30deg); /* IE 9 */
          transform: rotate(-30deg);
}



/*
.message-box {
  background: green;

  display: block;

  color: white;

  font-size: xx-large;
  padding: 0.4ex 0.8ex;

  position: absolute;
  bottom: 2ex;
  left: 2ex;
  right: 2ex;

  border-radius: 0.5ex;

  text-align: center;
} */

.message-box {
  color: white;
  font-weight: bold;
  font-size: 150%;

  margin: 10px;
  padding: 10px;

  background-color: var(--magenta-color);
  border-radius: 15px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.message-box__error {
  background-color: var(--red-color);
}
.message-box__error > .message-box_error {
  display: block;
}
.message-box__error > .message-box_ok {
  display: none;
}
.message-box_error {
  display: none;
}

.user-id {
  font-weight: bold;
  color:  var(--yellow-color);
}

.discounts_picture img {
  max-width: 90%;
  max-height: 90%;
}
